.teacher__attendance-row {
  border-bottom: 2px solid #e8e8e8;
}

.teacher__attendance-row:last-child {
  border-bottom: 0;
}

.teacher__attendance-row * {
  display: inline-block;
}

.teacher__attendance-buttons {
  float: right;
}

.teacher__attendance-buttons {
  margin: 10px;
}

.teacher__attendance-buttons * {
  margin-left: 20px;
}
