.menuBar {
  border: 2px solid black;
}

.menuBar > * {
  display: inline-block;
  width: 50%;
  text-align: center;
}

.wrapper {
  margin: 20px;
}

.attendanceRow * {
  display: inline-block;
}

.attendanceButtons * {
  margin: 0 20px;
}
