.menuBar {
  border: 2px solid black;
  float: center;

}

.menuBar * {
  display: inline-block;
  width: 50%;
  text-align: center;
}


.attenBox {
	list-style: none;
	width:10%;
	display: inline-block;
	text-align: center;
}

.course * {
  display: inline-block;
  text-align: right;
}

.course {
}

.grades * {
  padding: 5px;
}

.attendanceWrapper * {
  display: inline-block;
  font-size: 2rem;
  padding: 10px;
}

.leftPane {
  border-right: 3px solid black;
  width: 50%;
}

.courseBreakdown {
  display: block;
  border: 1px solid grey;
}

.courseBreakdown > * {
  width: 100%;
  text-align: left;
}
